@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/NeueHaasDisplayMedium.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}


@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./assets/fonts/NeueHaasDisplayLight.ttf') format('truetype');
  font-weight:450;
  font-style: normal;
}


* {
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #FCF6E8;
}